<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combined Page</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>

    <!-- HenonHeilesIndex.html content -->
    <div class="henon-container">
        <div class="henon-select-btn">
            <span class="btn-text">Hénon-Heiles System</span>
            <span class="arrow-dwn">
                <i class="fa-solid fa-chevron-down"></i>
            </span>
        </div>

        <ul class="henon-list-items">
            <li class="item">
                <span class="item-text">X</span>
                <div class="error-text">
                    <i class="fa-solid fa-exclamation-circle"></i>
                    <span class="error-message">Value must be between 0.1 and 0.25</span>
                </div>
                <input type="text" class="item-input X-input" placeholder="Type here">
                <span class="question-mark"><i class="fa-solid fa-question-circle"></i><span class="tooltip-text">Controls the X spatial
                    coordinate of the system (0.1 - 0.25)</span></span>
            </li>
            <li class="item">
                <span class="item-text">Y</span>
                <div class="error-text">
                    <i class="fa-solid fa-exclamation-circle"></i>
                    <span class="error-message">Value must be between 0.1 and 0.25</span>
                </div>
                <input type="text" class="item-input Y-input" placeholder="Type here">
                <span class="question-mark"><i class="fa-solid fa-question-circle"></i><span class="tooltip-text">Controls the Y spatial
                    coordinate of the system (0.1 - 0.25)</span></span>
            </li>
            <li class="item">
                <span class="item-text">PX</span>
                <div class="error-text">
                    <i class="fa-solid fa-exclamation-circle"></i>
                    <span class="error-message">Value must be between 0.1 and 0.25</span>
                </div>
                <input type="text" class="item-input PX-input" placeholder="Type here">
                <span class="question-mark"><i class="fa-solid fa-question-circle"></i><span class="tooltip-text">Controls the momentum  of the X spatial
                    coordinate of the system (0.1 - 0.25)</span></span>
            </li>
            <li class="item">
                <span class="item-text">PY</span>
                <div class="error-text">
                    <i class="fa-solid fa-exclamation-circle"></i>
                    <span class="error-message">Value must be between 0.1 and 0.25</span>
                </div>
                <input type="text" class="item-input PY-input" placeholder="Type here">
                <span class="question-mark"><i class="fa-solid fa-question-circle"></i><span class="tooltip-text">Controls the momentum  of the Y spatial
                    coordinate of the system (0.1 - 0.25)</span></span>
            </li>
            <li class="item">
                <span class="item-text">Time</span>
                <div class="error-text">
                    <i class="fa-solid fa-exclamation-circle"></i>
                    <span class="error-message">Value must be between 1000 and 100000</span>
                </div>
                <input type="text" class="item-input Time-input" placeholder="Type here">
                <span class="question-mark"><i class="fa-solid fa-question-circle"></i><span class="tooltip-text">The time span for which the 
                    integration of the Hénon-Heiles System will be performed (1000 - 100000)</span></span>
            </li>
        </ul>

        <!-- Save button -->
        <button class="save-btn" style="display: none;">Save</button>

        <!-- Save button -->
        <button class="reset-btn" style="display: none;">Reset</button>
    </div>
    </div>

    <script src="{{ url_for('static', filename='HenonAnimation.js') }}"></script>

    <!-- LogisticsIndex.html content -->
    <div class="logisitics-container">
        <div class="logistics-select-btn">
            <span class="btn-text">Logistics Map</span>
            <span class="arrow-dwn">
                <i class="fa-solid fa-chevron-down"></i>
            </span>
        </div>

        <ul class="logistics-list-items">
            <li class="item">
                <span class="item-text">Initial</span>
                <div class="error-text">
                    <i class="fa-solid fa-exclamation-circle"></i>
                    <span class="error-message">Value must be between 3.57 and 4.0</span>
                </div>
                <input type="text" class="item-input initial-input" placeholder="Type here">
                <span class="question-mark"><i class="fa-solid fa-question-circle"></i><span class="tooltip-text">Initial position for
                    the Logistics Map (3.57 - 4.0)</span></span>
            </li>
            <li class="item">
                <span class="item-text">Iterations</span>
                <div class="error-text">
                    <i class="fa-solid fa-exclamation-circle"></i>
                    <span class="error-message">Value must be between 20 and 100</span>
                </div>
                <input type="text" class="item-input iterations-input" placeholder="Type here">
                <span class="question-mark"><i class="fa-solid fa-question-circle"></i><span class="tooltip-text">The number of iterations
                    for each r value (20 - 100)</span></span>
            </li>
            <li class="item">
                <span class="item-text">Transient</span>
                <div class="error-text">
                    <i class="fa-solid fa-exclamation-circle"></i>
                    <span class="error-message">Value must be between 100 and 500</span>
                </div>
                <input type="text" class="item-input transient-input" placeholder="Type here">
                <span class="question-mark"><i class="fa-solid fa-question-circle"></i><span class="tooltip-text">The number of transient
                    iterations for each r value (100 - 500)</span></span>
            </li>
        </ul>

        <!-- Save button -->
        <button class="save-btn" style="display: none;">Save</button>

        <!-- Save button -->
        <button class="reset-btn" style="display: none;">Reset</button>
    </div>
    </div>

    <script src="{{ url_for('static', filename='LogisticsAnimation.js') }}"></script>

    <!-- LorenzIndex.html content -->
    <div class="lorenz-container">
        <div class="lorenz-select-btn">
            <span class="btn-text">Lorenz System</span>
            <span class="arrow-dwn">
                <i class="fa-solid fa-chevron-down"></i>
            </span>
        </div>

        <ul class="lorenz-list-items">
            <li class="item">
                <span class="item-text">Sigma</span>
                <div class="error-text">
                    <i class="fa-solid fa-exclamation-circle"></i>
                    <span class="error-message">Value must be between 5.0 and 10.0</span>
                </div>
                <input type="text" class="item-input sigma-input" placeholder="Type here">
                <span class="question-mark"><i class="fa-solid fa-question-circle"></i><span class="tooltip-text">Controls the rate of 
                    convergence/divergence of the system's variables (5.0 - 10.0)</span></span>
            </li>
            <li class="item">
                <span class="item-text">Rho</span>
                <div class="error-text">
                    <i class="fa-solid fa-exclamation-circle"></i>
                    <span class="error-message">Value must be between 20.0 and 40.0</span>
                </div>
                <input type="text" class="item-input rho-input" placeholder="Type here">
                <span class="question-mark"><i class="fa-solid fa-question-circle"></i><span class="tooltip-text">Controls the magintude of 
                    convergence/divergence of the system's variables (20.0 - 40.0)</span></span>
            </li>
            <li class="item">
                <span class="item-text">Time</span>
                <div class="error-text">
                    <i class="fa-solid fa-exclamation-circle"></i>
                    <span class="error-message">Value must be between 20 and 100</span>
                </div>
                <input type="text" class="item-input time-input" placeholder="Type here">
                <span class="question-mark"><i class="fa-solid fa-question-circle"></i><span class="tooltip-text">The time span for which the 
                    integration of the Lorenz System will be performed (20 - 100)</span></span>
            </li>
            <li class="item">
                <span class="item-text">Iterations</span>
                <div class="error-text">
                    <i class="fa-solid fa-exclamation-circle"></i>
                    <span class="error-message">Value must be between 20 and 100</span>
                </div>
                <input type="text" class="item-input iterations-input" placeholder="Type here">
                <span class="question-mark"><i class="fa-solid fa-question-circle"></i><span class="tooltip-text">The number of iterations or chaotic 
                    paths to generate in the Lorenz System (20 - 100)</span></span>
            </li>
            <li class="item">
                <span class="item-text">X</span>
                <div class="error-text">
                    <i class="fa-solid fa-exclamation-circle"></i>
                    <span class="error-message">Value must be between 0.001 and 0.999</span>
                </div>
                <input type="text" class="item-input x-input" placeholder="Type here">
                <span class="question-mark"><i class="fa-solid fa-question-circle"></i><span class="tooltip-text">Initial coordinate for 
                    the X spatial position (0.001 - 0.999)</span></span>
            </li>
            <li class="item">
                <span class="item-text">Y</span>
                <div class="error-text">
                    <i class="fa-solid fa-exclamation-circle"></i>
                    <span class="error-message">Value must be between 0.001 and 0.999</span>
                </div>
                <input type="text" class="item-input y-input" placeholder="Type here">
                <span class="question-mark"><i class="fa-solid fa-question-circle"></i><span class="tooltip-text">Initial coordinate for 
                    the Y spatial position (0.001 - 0.999)</span></span>
            </li>
            <li class="item">
                <span class="item-text">Z</span>
                <div class="error-text">
                    <i class="fa-solid fa-exclamation-circle"></i>
                    <span class="error-message">Value must be between 0.001 and 0.999</span>
                </div>
                <input type="text" class="item-input z-input" placeholder="Type here">
                <span class="question-mark"><i class="fa-solid fa-question-circle"></i><span class="tooltip-text">Initial coordinate for 
                    the Z spatial position (0.001 - 0.999)</span></span>
            </li>
        </ul>

        <!-- Save button -->
        <button class="save-btn" style="display: none;">Save</button>

        <!-- Save button -->
        <button class="reset-btn" style="display: none;">Reset</button>
    </div>
    </div>

    <script src="{{ url_for('static', filename='LorenzAnimation.js') }}"></script>

    <!-- RosslerIndex.html content -->
    <div class="rossler-container">
        <div class="rossler-select-btn">
            <span class="btn-text">Rössler System</span>
            <span class="arrow-dwn">
                <i class="fa-solid fa-chevron-down"></i>
            </span>
        </div>

        <ul class="rossler-list-items">
            <li class="item">
                <span class="item-text">A</span>
                <div class="error-text">
                    <i class="fa-solid fa-exclamation-circle"></i>
                    <span class="error-message">Value must be between 0.1 and 0.3</span>
                </div>
                <input type="text" class="item-input A-input" placeholder="Type here">
                <span class="question-mark"><i class="fa-solid fa-question-circle"></i><span class="tooltip-text">Controls how much the 
                    Y spatial variable influences the X spatial variable (0.1 - 0.3)</span></span>
            </li>
            <li class="item">
                <span class="item-text">C</span>
                <div class="error-text">
                    <i class="fa-solid fa-exclamation-circle"></i>
                    <span class="error-message">Value must be between 5.0 and 6.0</span>
                </div>
                <input type="text" class="item-input C-input" placeholder="Type here">
                <span class="question-mark"><i class="fa-solid fa-question-circle"></i><span class="tooltip-text">Controls how much the 
                    Z spatial variable influences the X spatial variable and Y spatial variable (5.0 - 6.0)</span></span>
            </li>
            <li class="item">
                <span class="item-text">Time</span>
                <div class="error-text">
                    <i class="fa-solid fa-exclamation-circle"></i>
                    <span class="error-message">Value must be between 50 and 200</span>
                </div>
                <input type="text" class="item-input time-input" placeholder="Type here">
                <span class="question-mark"><i class="fa-solid fa-question-circle"></i><span class="tooltip-text">The time span for which the 
                    integration of the Rössler System will be performed (50 - 200)</span></span>
            </li>
            <li class="item">
                <span class="item-text">Iterations</span>
                <div class="error-text">
                    <i class="fa-solid fa-exclamation-circle"></i>
                    <span class="error-message">Value must be between 50 and 200</span>
                </div>
                <input type="text" class="item-input iterations-input" placeholder="Type here">
                <span class="question-mark"><i class="fa-solid fa-question-circle"></i><span class="tooltip-text">The number of iterations or chaotic 
                    paths to generate in the Rössler System (50 - 200)</span></span>
            </li>
            <li class="item">
                <span class="item-text">X</span>
                <div class="error-text">
                    <i class="fa-solid fa-exclamation-circle"></i>
                    <span class="error-message">Value must be between 0.001 and 0.999</span>
                </div>
                <input type="text" class="item-input x-input" placeholder="Type here">
                <span class="question-mark"><i class="fa-solid fa-question-circle"></i><span class="tooltip-text">Initial coordinate for 
                    the X position (0.001 - 0.999)</span></span>
            </li>
            <li class="item">
                <span class="item-text">Y</span>
                <div class="error-text">
                    <i class="fa-solid fa-exclamation-circle"></i>
                    <span class="error-message">Value must be between 0.001 and 0.999</span>
                </div>
                <input type="text" class="item-input y-input" placeholder="Type here">
                <span class="question-mark"><i class="fa-solid fa-question-circle"></i><span class="tooltip-text">Initial coordinate for 
                    the Y position (0.001 - 0.999)</span></span>
            </li>
            <li class="item">
                <span class="item-text">Z</span>
                <div class="error-text">
                    <i class="fa-solid fa-exclamation-circle"></i>
                    <span class="error-message">Value must be between 0.001 and 0.999</span>
                </div>
                <input type="text" class="item-input z-input" placeholder="Type here">
                <span class="question-mark"><i class="fa-solid fa-question-circle"></i><span class="tooltip-text">Initial coordinate for 
                    the Z position (0.001 - 0.999)</span></span>
            </li>
        </ul>

        <!-- Save button -->
        <button class="save-btn" style="display: none;">Save</button>

        <!-- Save button -->
        <button class="reset-btn" style="display: none;">Reset</button>
    </div>
    </div>

    <script src="{{ url_for('static', filename='RosslerAnimation.js') }}"></script>
</body>
</html>
